# Building a Reccomendation System for an ecommerce site

In [0]:
import pandas as pd
df = pd.read_csv("ecommerce_data.csv", encoding = 'ISO-8859-1')

In [0]:
# summary of our data
print ("Rows     : " , df.shape[0])
print ("Columns  : " , df.shape[1])
print ("\nFeatures : \n" , df.columns.tolist())
print ("\nMissing values :  ", df.isnull().sum().values.sum())
print ("\nUnique values :  \n", df.nunique())

Rows     :  62551
Columns  :  8

Features :
 ['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate', 'UnitPrice', 'CustomerID', 'Country']

Missing values :   24214

Unique values :
 InvoiceNo      2787
StockCode      2959
Description    2898
Quantity        243
InvoiceDate    2481
UnitPrice       412
CustomerID     1177
Country          24
dtype: int64

In [0]:
# Statistics on our numeric columns
df.describe()

           Quantity     UnitPrice    CustomerID
count  62551.000000  62551.000000  38501.000000
mean       8.352017      5.917935  15387.412379
std      423.334622    149.003900   1765.391847
min   -74215.000000      0.000000  12346.000000
25%        1.000000      1.250000  13984.000000
50%        2.000000      2.510000  15358.000000
75%        8.000000      4.250000  17017.000000
max    74215.000000  16888.020000  18283.000000

In [0]:
# Removing cancelled orders (shown as negative values in Quantity)
df = df.loc[df['Quantity'] > 0]
df = df.loc[df['UnitPrice'] > 0]

In [0]:
# Check for null values
df.isnull().sum()

InvoiceNo          0
StockCode          0
Description        0
Quantity           0
InvoiceDate        0
UnitPrice          0
CustomerID     23671
Country            1
dtype: int64

In [0]:
# how these records with missing customer ID look
df.loc[df['CustomerID'].isna()].head()

     InvoiceNo StockCode  ... CustomerID         Country
1443    536544     21773  ...        NaN  United Kingdom
1444    536544     21774  ...        NaN  United Kingdom
1445    536544     21786  ...        NaN  United Kingdom
1446    536544     21787  ...        NaN  United Kingdom
1447    536544     21790  ...        NaN  United Kingdom

[5 rows x 8 columns]

In [0]:
# Number of records and shape before dropping our missing values
df.shape

(61164, 8)

In [0]:
# Let's drop these records since we can't build our required matrixes 
df = df.dropna(subset=['CustomerID'])

In [0]:
# Number of records after dropping our missing values
df.shape

(37493, 8)

In [0]:
# Check for null values
df.isnull().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

# Building a customer-item matrix

In [0]:
customer_item_matrix = df.pivot_table(index='CustomerID', columns='StockCode', values='Quantity',aggfunc='sum')
customer_item_matrix.head()

StockCode   10002  10120  10123C  10124A  ...  BANK CHARGES  C2   M  POST
CustomerID                                ...
12346.0       NaN    NaN     NaN     NaN  ...           NaN NaN NaN   NaN
12347.0       NaN    NaN     NaN     NaN  ...           NaN NaN NaN   NaN
12348.0       NaN    NaN     NaN     NaN  ...           NaN NaN NaN   6.0
12356.0       NaN    NaN     NaN     NaN  ...           NaN NaN NaN  18.0
12359.0       NaN    NaN     NaN     NaN  ...           NaN NaN NaN   NaN

[5 rows x 2552 columns]

In [0]:
customer_item_matrix = customer_item_matrix.applymap(lambda x: 1 if x > 0 else 0)
customer_item_matrix.head()

StockCode   10002  10120  10123C  10124A  ...  BANK CHARGES  C2  M  POST
CustomerID                                ...
12346.0         0      0       0       0  ...             0   0  0     0
12347.0         0      0       0       0  ...             0   0  0     0
12348.0         0      0       0       0  ...             0   0  0     1
12356.0         0      0       0       0  ...             0   0  0     1
12359.0         0      0       0       0  ...             0   0  0     0

[5 rows x 2552 columns]

In [0]:
customer_item_matrix.shape

(1111, 2552)

# Creating out Colaborative Filter

In [0]:
from sklearn.metrics.pairwise import cosine_similarity

### Creating out User-to-User Similarity Matrix

In [0]:
#cosine_similarity function to compute the pairwise cosine similarities between the cusomters 

user_user_sim_matrix = pd.DataFrame(cosine_similarity(customer_item_matrix))
user_user_sim_matrix

      0         1         2     ...      1108      1109      1110
0      1.0  0.000000  0.000000  ...  0.000000  0.000000  0.000000
1      0.0  1.000000  0.000000  ...  0.000000  0.067884  0.000000
2      0.0  0.000000  1.000000  ...  0.136788  0.000000  0.036736
3      0.0  0.029934  0.231125  ...  0.164399  0.000000  0.110378
4      0.0  0.000000  0.000000  ...  0.041100  0.000000  0.066227
...    ...       ...       ...  ...       ...       ...       ...
1106   0.0  0.069130  0.000000  ...  0.031639  0.000000  0.025491
1107   0.0  0.000000  0.000000  ...  0.000000  0.142857  0.000000
1108   0.0  0.000000  0.136788  ...  1.000000  0.000000  0.065326
1109   0.0  0.067884  0.000000  ...  0.000000  1.000000  0.000000
1110   0.0  0.000000  0.036736  ...  0.065326  0.000000  1.000000

[1111 rows x 1111 columns]

In [0]:
user_user_sim_matrix.shape

(1111, 1111)

# customers most similar to our test customer, '12358'

In [0]:
user_user_sim_matrix.columns = customer_item_matrix.index

user_user_sim_matrix['CustomerID'] = customer_item_matrix.index

user_user_sim_matrix = user_user_sim_matrix.set_index('CustomerID')
user_user_sim_matrix.head()

CustomerID  12346.0   12347.0   12348.0  ...   18260.0   18269.0   18283.0
CustomerID                               ...
12346.0         1.0  0.000000  0.000000  ...  0.000000  0.000000  0.000000
12347.0         0.0  1.000000  0.000000  ...  0.000000  0.067884  0.000000
12348.0         0.0  0.000000  1.000000  ...  0.136788  0.000000  0.036736
12356.0         0.0  0.029934  0.231125  ...  0.164399  0.000000  0.110378
12359.0         0.0  0.000000  0.000000  ...  0.041100  0.000000  0.066227

[5 rows x 1111 columns]

In [0]:
user_user_sim_matrix.loc[12359].sort_values(ascending=False)

CustomerID
12359.0    1.000000
16143.0    0.255155
15510.0    0.250000
12734.0    0.250000
13145.0    0.250000
             ...
16168.0    0.000000
16163.0    0.000000
16150.0    0.000000
16140.0    0.000000
12346.0    0.000000
Name: 12359.0, Length: 1111, dtype: float64

### What items did 12359 buy?

In [0]:
items_bought_by_12359 = set(customer_item_matrix.loc[12359].iloc[customer_item_matrix.loc[12359].to_numpy().nonzero()].index)
items_bought_by_12359

{'20704',
 '20705',
 '22423',
 '22471',
 '22510',
 '22511',
 '22655',
 '22656',
 '22666',
 '22720',
 '22721',
 '82484',
 '82613B',
 '82613C',
 '82613D',
 '85054'}

In [0]:
items_bought_by_16143 = set(customer_item_matrix.loc[16143].iloc[customer_item_matrix.loc[16143].to_numpy().nonzero()].index)
items_bought_by_16143

{'20725',
 '21041',
 '21175',
 '21216',
 '21430',
 '21531',
 '21539',
 '22116',
 '22215',
 '22383',
 '22423',
 '22457',
 '22469',
 '22470',
 '22656',
 '22665',
 '22666',
 '22667',
 '22694',
 '22720',
 '22722',
 '47559B',
 '82613D',
 '84509G'}

In [0]:
items_to_recommend_to_16143 = items_bought_by_12359 - items_bought_by_16143
items_to_recommend_to_16143

{'20704',
 '20705',
 '22471',
 '22510',
 '22511',
 '22655',
 '22721',
 '82484',
 '82613B',
 '82613C',
 '85054'}

In [0]:
df.loc[df['StockCode'].isin(items_to_recommend_to_16143), ['StockCode', 'Description']].drop_duplicates().set_index('StockCode')

                                 Description
StockCode
82484      WOOD BLACK BOARD ANT WHITE FINISH
22511            RETROSPOT BABUSHKA DOORSTOP
22471            TV DINNER TRAY AIR HOSTESS
22655            VINTAGE RED KITCHEN CABINET
85054                FRENCH ENAMEL POT W LID
82613B        METAL SIGN,CUPCAKE SINGLE HOOK
22510              GINGHAM BABUSHKA DOORSTOP
20704                      MR ROBOT SOFT TOY
22721          SET OF 3 CAKE TINS SKETCHBOOK
82613C        METAL SIGN,CUPCAKE SINGLE HOOK
20705                     MRS ROBOT SOFT TOY

# Finding Items to Recommend to a Customer

In [0]:
most_similar_user = user_user_sim_matrix.loc[12359].sort_values(ascending=False).reset_index().iloc[1, 0]
most_similar_user

16143.0

In [0]:
def get_items_to_recommend_cust(cust_a):
  '''returns the items to recommend to a customer using customer similarity'''
  most_similar_user = user_user_sim_matrix.loc[cust_a].sort_values(ascending=False).reset_index().iloc[1, 0]
  items_bought_by_cust_a = set(customer_item_matrix.loc[cust_a].iloc[customer_item_matrix.loc[cust_a].to_numpy().nonzero()].index)
  items_bought_by_cust_b = set(customer_item_matrix.loc[most_similar_user].iloc[customer_item_matrix.loc[most_similar_user].to_numpy().nonzero()].index)
  items_to_recommend_to_a = items_bought_by_cust_b - items_bought_by_cust_a
  items_description = df.loc[df['StockCode'].isin(items_to_recommend_to_a), ['StockCode', 'Description']].drop_duplicates().set_index('StockCode')
  return items_description

In [0]:
get_items_to_recommend_cust(12359.0)

                                  Description
StockCode
20725                 LUNCH BAG RED RETROSPOT
21175             GIN + TONIC DIET METAL SIGN
22457         NATURAL SLATE HEART CHALKBOARD
22469                   HEART OF WICKER SMALL
22470                   HEART OF WICKER LARGE
22383                 LUNCH BAG SUKI  DESIGN
22694                            WICKER STAR
21041         RED RETROSPOT OVEN GLOVE DOUBLE
22667                   RECIPE BOX RETROSPOT
22665       RECIPE BOX BLUE SKETCHBOOK DESIGN
21430      SET/3 RED GINGHAM ROSE STORAGE BOX
21216        SET 3 RETROSPOT TEA,COFFEE,SUGAR
84509G         SET OF 4 FAIRY CAKE PLACEMATS
22215          CAKE STAND WHITE TWO TIER LACE
21539               RED RETROSPOT BUTTER DISH
21531            RED RETROSPOT SUGAR JAM BOWL
47559B                    TEA TIME OVEN GLOVE
22116         METAL SIGN HIS DINNER IS SERVED
22722       SET OF 6 SPICE TINS PANTRY DESIGN
20725                    LUNCH BAG RED SPOTTY

In [0]:
get_items_to_recommend_cust(12348.0)

                               Description
StockCode
21212      PACK OF 72 RETROSPOT CAKE CASES
21975       PACK OF 60 DINOSAUR CAKE CASES

# Item Based Collaborative Filtering

In [0]:
df.head()

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

In [0]:
item_item_sim_matrix = pd.DataFrame(cosine_similarity(customer_item_matrix.T))
item_item_sim_matrix.head()

       0         1         2     3     ...  2548     2549      2550      2551
0  1.000000  0.208514  0.208514   0.0  ...   0.0  0.09325  0.040129  0.096309
1  0.208514  1.000000  0.500000   0.0  ...   0.0  0.00000  0.096225  0.000000
2  0.208514  0.500000  1.000000   0.0  ...   0.0  0.00000  0.000000  0.000000
3  0.000000  0.000000  0.000000   1.0  ...   0.0  0.00000  0.000000  0.000000
4  0.000000  0.000000  0.000000   0.0  ...   0.0  0.00000  0.000000  0.000000

[5 rows x 2552 columns]

In [0]:
item_item_sim_matrix.shape

(2552, 2552)

In [0]:
item_item_sim_matrix.columns = customer_item_matrix.T.index

item_item_sim_matrix['StockCode'] = customer_item_matrix.T.index
item_item_sim_matrix = item_item_sim_matrix.set_index('StockCode')
item_item_sim_matrix.head()

StockCode     10002     10120    10123C  ...       C2         M      POST
StockCode                                ...
10002      1.000000  0.208514  0.208514  ...  0.09325  0.040129  0.096309
10120      0.208514  1.000000  0.500000  ...  0.00000  0.096225  0.000000
10123C     0.208514  0.500000  1.000000  ...  0.00000  0.000000  0.000000
10124A     0.000000  0.000000  0.000000  ...  0.00000  0.000000  0.000000
10124G     0.000000  0.000000  0.000000  ...  0.00000  0.000000  0.000000

[5 rows x 2552 columns]

In [0]:
# Most similar items to 10120
item_item_sim_matrix.loc['10120'].sort_values(ascending=False)

StockCode
10120     1.0
84595E    0.5
21167     0.5
17174     0.5
79403     0.5
         ...
22914     0.0
22915     0.0
22916     0.0
22917     0.0
22520     0.0
Name: 10120, Length: 2552, dtype: float64

In [0]:
# Get the top 10 most similar items 
top_10_similar_items = list(item_item_sim_matrix.loc['10120'].sort_values(ascending=False).iloc[:10].index)
top_10_similar_items

['10120',
 '84595E',
 '21167',
 '17174',
 '79403',
 '20661',
 '16010',
 '90036D',
 '79149B',
 '79151B']

In [0]:
# Now let's make a function that returns the most similar items for an inputted item
df.head()

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

In [0]:
# Get the row information fo a specific item
# Note it occurs multple times, but we need juw the basic info
df.loc[df['StockCode'] == '90210A']

      InvoiceNo StockCode  ... CustomerID         Country
28848    538661    90210A  ...    15194.0  United Kingdom
28887    538662    90210A  ...    15159.0  United Kingdom
56707    541110    90210A  ...    15916.0  United Kingdom

[3 rows x 8 columns]

In [0]:
df.loc[df['StockCode'] == '90210A'][:1]

      InvoiceNo StockCode  ... CustomerID         Country
28848    538661    90210A  ...    15194.0  United Kingdom

[1 rows x 8 columns]

In [0]:
# This code checks our df for stock codes similar to those in our top_10_similar_items, we then display only the Stockcode and Description, remove duplicates
# and ten set the index to StockCode
df.loc[df['StockCode'].isin(top_10_similar_items), ['StockCode', 'Description']].drop_duplicates().set_index('StockCode').loc[top_10_similar_items]

                                   Description
StockCode
10120                             DOGGY RUBBER
84595E          LARGE TORTILLA DESIGN RED BOWL
21167                       WHITE SAGE INCENSE
17174                   ASSTD RASTA KEY-CHAINS
79403                      FROSTED WHITE BASE
20661                     BLUE POLKADOT PURSE
16010       FOLDING CAMPING SCISSOR W/KNIF & S
90036D     FLOWER GLASS GARLAND NECKL.36"BLACK
79149B                 SILICON STAR BULB  BLUE
79151B                  SILICON CUBE 25W, BLUE

In [0]:
def get_top_similar_items(item):
  top_10_similar_items = list(item_item_sim_matrix.loc[item].sort_values(ascending=False).iloc[:10].index)
  top_10 = df.loc[df['StockCode'].isin(top_10_similar_items), ['StockCode', 'Description']].drop_duplicates().set_index('StockCode').loc[top_10_similar_items]
  return top_10

In [0]:
get_top_similar_items('84029E')

                                   Description
StockCode
84029E          RED WOOLLY HOTTIE WHITE HEART.
84029G     KNITTED UNION FLAG HOT WATER BOTTLE
21479            WHITE SKULL HOT WATER BOTTLE
22111             SCOTTIE DOG HOT WATER BOTTLE
21485         RETROSPOT HEART HOT WATER BOTTLE
22112               CHOCOLATE HOT WATER BOTTLE
22837               HOT WATER BOTTLE BABUSHKA
22837          HOT WATER BOTTLE BABUSHKA LARGE
21481               FAWN BLUE HOT WATER BOTTLE
22114        HOT WATER BOTTLE TEA AND SYMPATHY
84030E           ENGLISH ROSE HOT WATER BOTTLE